p{
    background-color: blue;
    display: inline-block;
    margin: 20px;
    
}   
#p2{
    background-color: green;
    display: inline-block;
    margin: 20px;
} 
main{
    height: 500px;
    width: 500;
    background-color: aqua;
    font-size: 30px;
}   
div{
    background-color: rgb(255, 0, 0,5);
    margin: 50px;
    display: inline-block;
}
