#outer{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center
    
        
}
#inner{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    align-items: right;
}
#inner2{
    width: 100px;
    height: 100px;
    background-color: red;
    align-items: center;
    align-self: flex-start;
}
#navbar {
    
    justify-content: space-between;
}